
.f3-left {
  position: fixed;
  width: 207px;
  height: 100%;
  background-color: #e7e7e7;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-size: 50pt;
  font-weight: normal;
}

h2 {
  font-size: 25pt;
  font-weight: bold;
}

h3 {
  font-size: 20pt;
  font-weight: bold;
}

ul {
  font-size: 20pt;
}

li a {
  line-height: 200%;
}

label, input, select {
  font-size: 18pt;
}

span {
  font-size: 12pt;
}

.hline {
  width: 100%;
  height: 2px;
  margin-top: 50px;
  margin-bottom: 25px;
  background-color: black;
}

.f3-left h2 {
  margin-top: 20px;
  text-align: center;
}

.f3-main {
  height: 100%;
  padding: 20px;
  margin-left: 207px;
  background-color: #c4c4cc;
}

.f3-main h3 {
  margin-top: 5px;
  margin-bottom: 37px;
}

.f3-center {
  text-align: center;
}

.f3-panel-layout {
  padding-left: 20px;
  line-height: 300%;
}

.f3-asset {
  display: grid;
  grid-template-columns: max-content max-content auto;
}

.f3-current-asset {
  display: grid;
  grid-template-columns: 78px auto;
  grid-column-gap: 10px;
  align-items: center;
}

.f3-mintnft-head {
  padding-left: 20px;
}

.f3-mintnft-row {
  display: grid;
  grid-template-columns: 50% auto;
  line-height: 300%;
}

.f3-mintnft-item {
  display: grid;
  grid-template-columns: 40% auto;
  grid-column-gap: 10px;
}

.f3-mintnft-item input {
  width: 80%;
}

.f3-mintnft-item select {
  width: 80%;
}

#inQuantity, #inSerial, #inPrice {
  min-width: 100px;
  max-width: 100px;
}

.f3-store-padding {
  margin: 20px;
}

.f3-store-hline {
  width: 60%;
  height: 2px;
  background-color: black;
}

.f3-store-h2 {
  font-size: 30pt;
  font-weight: normal;
}

.f3-store-container {
  display: flex;
  flex-wrap: wrap;
}

.f3-store-container > .f3-store-series-item {
  width: 274px;
  margin: 10px;
}

.f3-store-collection-item {
  text-align: center;
}

.f3-store-collection-item img {
  display: block;
  margin: auto;
}

.f3-collections-head {
  padding-left: 20px;
  display: grid;
  grid-template-columns: max-content max-content auto;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
}

.f3-collections-hline {
  height: 2px;
  background-color: black;
  grid-column: 1 / span 3;
}

.f3-collections-btn {
  width: 50%;
}

.f3-collections-head select {
  width: 100%;
}