commands:
    01_install_htop:
        command: sudo yum -y install htop
    03_install_nmap:
        command: sudo yum -y install nmap
   #
   # deploy errors
   #
   # /var/log/cfn-init.log
   # 2022-01-29 23:08:27,764 [ERROR] Unhandled exception during build: Command 011_setup_run failed
   #
   # 11_setup_run:
   #     command: "setup.sh"