   # these logs are saved on ec2 server: /var/log/cfn-init-cmd.log
   # sudo tail -n 50 -f /var/log/cfn-init-cmd.log
   #
commands:
    01_install_htop:
        command: sudo yum -y install htop
    03_install_nmap:
        command: sudo yum -y install nmap
    03_check_path:
        command: pwd
    12_setup_run:
        command: "bash .ebextensions/bin/setup.sh"
files:
  "/var/app/current/build.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      npm run build
      npm run start
      exit 0;
   #
   #
   # deploy errors
   #
   # /var/log/cfn-init.log
   # 2022-01-30 02:20:42,160 [ERROR] Error encountered during build of prebuild_0_demo_nft_sportscast_net: Command 11_setup_run failed
   #  Traceback (most recent call last):
   #  File "/usr/lib/python3.7/site-packages/cfnbootstrap/construction.py", line 573, in run_config
   #    CloudFormationCarpenter(config, self._auth_config).build(worklog)
   #  File "/usr/lib/python3.7/site-packages/cfnbootstrap/construction.py", line 273, in build
   #    self._config.commands)
   #  File "/usr/lib/python3.7/site-packages/cfnbootstrap/command_tool.py", line 127, in apply
   #    raise ToolError(u"Command %s failed" % name)
   # cfnbootstrap.construction_errors.ToolError: Command 11_setup_run failed
   # 2022-01-29 23:08:27,764 [ERROR] Unhandled exception during build: Command 011_setup_run failed
   #
   # 11_setup_run:
   #     command: "setup.sh"
   #
   # 12_setup_run:
   #     command: "bash .ebextensions/setup.sh"